/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", "Sans-Serif";
}

/* Navbar Start */

nav {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  display: flex;
  height: 70px;
  background: #ec3c3c;
}

.hidden {
  background: rgba(236, 60, 60, 0.5);
}

nav ul {
  display: flex;
  margin-right: 20px;
  list-style: none;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  padding: 10px 30px;
  position: relative;
  overflow-x: hidden;
  transform: color 1s;
  z-index: 2;
}

nav ul li a:hover {
  color: #ec3c3c;
}

nav ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  z-index: -1;
  transition: 0.5s;
  border-radius: 50px;
}

nav ul li a:hover::before {
  width: 100%;
}

nav .logo img {
  width: 5vw;
  height: 5vw;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  margin-left: 25px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

/* Navbar End */

/* Main Start */

main {
  /* Asset From Freepik
  Link : https://www.freepik.com/free-photo/red-ribbon-with-white-background-hiv-aids-ribbon-awareness_20111984.htm#query=hiv%20aids&position=49&from_view=search */
  background-image: url(asset/backgroundnew3.svg);
  height: 95vh;
  background-position: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 7vh;
}

main .image img {
  margin-left: 7vw;
  margin-top: 10vh;
  height: 70vh;
}

main .main-text {
  color: #fff;
  margin-left: 0;
  margin-bottom: -10vh;
  line-height: 0;
  letter-spacing: 2px;
}

main .main-text h2 {
  margin-left: 5px;
  font-size: 50px;
}

main .main-text p {
  font-size: 35px;
}

main .main-text .texting {
  display: flex;
}

main .main-text .texting h1 {
  font-size: 50px;
}

main .main-text h2:hover {
  transform: scale(1.1);
  margin-left: 25px;
  transition: all 0.3s ease-in;
}

main .main-text .active {
  background: #931111;
}

main .main-text .active-1 {
  font-weight: 900;
  font-size: 65px;
  text-transform: uppercase;
}

.news {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

marquee {
  background: #a22222;
  padding-bottom: 7px;
}

.news p {
  font-size: 25px;
  color: #fff;
  margin: 0 15px;
}

.news .breaking {
  background: #4b1010;
  border-radius: 12px;
  padding: 5px 25px;
}

.news .breakingnews {
  background: #e24848;
  border-radius: 12px;
  padding: 5px 25px;
}

.news button {
  border: none;
}

.news a {
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

/* Main End */

/* Article Start */

article {
  display: grid;
  grid-template-columns: 350px 1fr 1fr;
  background-image: url(asset/bg-article.svg);
}

article .artic .text {
  background-color: #d9d9d9;
  padding: 0px 20px 30px 20px;
  border-radius: 20px;
  margin-left: 10px;
}

article .artic .text h1 {
  text-align: center;
  margin-top: 70px;
  padding-top: 40px;
}

article .artic .text h3 {
  text-align: center;
  color: #000;
}

article .artic2 .text {
  background-color: #d9d9d9;
  padding: 0px 20px 30px 20px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

article .artic2 .text h1 {
  text-align: center;
  margin-top: 70px;
  padding-top: 40px;
}

article .artic2 .text h3 {
  text-align: center;
  color: #000;
}

article .artic3 .text {
  background-color: #d9d9d9;
  padding: 0px 20px 30px 20px;
  border-radius: 20px;
  margin-right: 10px;
}

article .artic3 .text h1 {
  text-align: center;
  margin-top: 70px;
  padding-top: 40px;
}

article .artic3 .text h3 {
  text-align: center;
  color: #000;
  font-size: 19px;
}

article .imaga {
  display: flex;
  justify-content: center;
  align-items: center;
}

article img {
  margin: 20px 10px;
  width: 5vw;
  height: 15vh;
  border-radius: 50%;
}

article .artic2 img:hover,
article .artic3 img:hover {
  transform: scale(1.15);
  transition: 0.5s;
  margin: 0px 20px;
}

article .artic img:hover {
  transition: 0.5s;
  transform: scale(1.15);
  margin: 0px;
  margin-top: 20px;
}

/* Article End */

/* Section Main Start */

#main {
  padding-top: 100px;
  background-image: url(asset/bg-main.svg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
}

#main .img img {
  margin-left: 50px;
  margin-top: -9px;
  margin-bottom: 70px;
  height: 80vh;
}

#main .text {
  margin-top: -110px;
  margin-left: 50px;
  background: rgba(230, 80, 82, 0.8);
  border-radius: 25px;
  color: #fff;
  padding-right: 25px;
  text-align: justify;
}

#main .text h1 {
  margin-left: 45px;
  font-size: 40px;
}

#main .text p {
  margin-top: -35px;
  margin-left: 45px;
  font-size: 20px;
}

/* Section Main End */

/* Section Solusi Start */

#solusi {
  padding-top: 50px;
  background-image: url(asset/bg-solusi.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

#solusi h1,
h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

#solusi h1 {
  font-size: 35px;
}

#solusi h2 {
  font-size: 30px;
}

#solusi h1 span.active {
  font-weight: bold;
  padding: 5px;
  background-color: #d89999;
}

#solusi h2 span.active {
  font-weight: 900;
}

#solusi .solusi-line1,
#solusi .solusi-line2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#solusi .solusi-line1 .box-1,
#solusi .solusi-line2 .box-2 {
  color: #fff;
  text-align: center;
  margin: 20px;
  background-color: #793131;
  padding-bottom: 10px;
  border-radius: 10px;
}

#solusi a {
  color: #f87777;
}

#solusi .solusi-line1 .box-1:hover,
#solusi .solusi-line2 .box-2:hover {
  transition: all 1s;
  margin: 0 10px;
  background-color: #cc3d3d;
  border: 4px solid #fafafa;
}

#solusi i {
  padding-top: 25px;
  font-size: 60px;
}

/* Section Solusi End */

/* Section Main 1 Start */
#main1 {
  background-color: #da6161;
}

#main1 img:hover {
  transform: rotateZ(360deg);
  transition: all 0.7s;
}

#main1 .berita-1 {
  padding-top: 100px;
}

#main1 .berita-1,
.berita-2,
.berita-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main1 .berita-1 .text,
.berita-3 .text {
  border-radius: 22px;
  margin-right: 50px;
  padding: 25px;
  background-color: #be4040;
}

#main1 .berita-2 .text {
  background: #be4040;
  border-radius: 22px;
  margin-left: 50px;
  padding: 25px;
}

#main1 h3 {
  font-weight: 900;
  font-size: 1.1rem;
}

#main1 img {
  margin: 50px;
}

#main1 .berita-2 h3 {
  text-align: end;
}

#main1 .berita-2 p {
  text-align: end;
}

#main1 p,
h3 {
  text-align: center;
  margin: 30px;
  color: #fff;
  text-align: left;
}

#main1 h3 {
  font-weight: 900;
  font-size: 1.1rem;
}

#main1 p {
  font-size: 1rem;
}

#main1 button {
  background-color: transparent;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 1);
}

#main1 button:hover {
  transition: all 1s;
  border: none;
  background: #ff6262;
  border-radius: 5px;
}

/* Section Main1 End */

/* Footer Start */

footer {
  background: #f37676;
  /* Asset From Freepik
  Link : https://www.freepik.com/free-photo/red-ribbon-with-white-background-hiv-aids-ribbon-awareness_20111984.htm#query=hiv%20aids&position=49&from_view=search */
  background-image: url(asset/footer-svg.svg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

footer .foot {
  display: grid;
  grid-template-columns: 1fr 325px;
}

footer .foot .foot-text {
  width: 50vw;
  font-size: 18px;
  margin-left: 6.5vw;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  height: 50vh;
  margin-top: 150px;
  color: #000;
  padding: 50px;
}

.foot .foot-kasus p {
  font-size: 30px;
  margin: -5px;
}

.foot .foot-text span {
  padding: 5px;
  background: #ee6d6f;
}

.foot .foot-kasus button {
  margin-top: 10px;
}

.foot .foot-kasus h1 {
  margin-bottom: 0px;
}

.foot .foot-kasus .terjangkit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #cd4040;
  height: 35vh;
}

.foot .foot-kasus .dirawat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ee4747;
  height: 35vh;
}

.foot .foot-kasus .sembuh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f05959;
  height: 36vh;
}

footer button {
  border: none;
  padding: 8px 25px;
  border-radius: 5px;
  margin-bottom: 25px;
}

footer button:hover {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  transition: all 0.5s;
}

/* Footer End */

/* Toogle Start */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  top: 3px;
  left: -20px;
  width: 50px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  margin-right: 25px;
  transition: all 0.5s;
  z-index: 3;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg);
  margin-top: 5px;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Toogle End */

@media screen and (min-width: 1440px) {
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 550px;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 20px;
    height: 600px;
  }
  article .artic1 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 450px;
  }
  article .artic2 .text h3 {
    text-align: center;
    color: #000;
    font-size: 22px;
  }
  #main1 {
    padding-bottom: 80px;
  }
  #solusi {
    padding-bottom: 80px;
  }
  #main1 p,
  h3 {
    text-align: center;
    margin: 30px;
    color: #fff;
    text-align: left;
    font-size: 20px;
  }
}

@media screen and (max-width: 1439px) {
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 550px;
    font-size: 19px;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 20px;
    height: 600px;
    font-size: 17.5px;
  }
  article .artic1 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 450px;
  }
}

/* Custom */
@media screen and (max-width: 1280px) {
  .foot .foot-text p {
    font-size: 15px;
  }
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 20px;
    height: 600px;
    font-size: 15px;
  }
}

/* LAPTOP */
@media screen and (max-width: 1024px) {
  main .main-text .active {
    background: #931111;
    font-size: 45px;
  }
  main .main-text .active-1 {
    font-weight: 900;
    font-size: 45px;
    text-transform: uppercase;
  }
  article {
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
  }
  article .artic .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
  }
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    height: 30vh;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    height: 40vh;
  }
  article img {
    margin: 20px 10px;
    width: 15vw;
    height: 20vw;
    border-radius: 50%;
  }
  #main1 .berita-1 .text,
  .berita-3 .text {
    border-radius: 22px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #be4040;
  }
  #main1 .berita-2 .text {
    background-color: #be4040;
    border-radius: 22px;
    margin-left: 10px;
    padding: 5px;
  }
  footer .foot .foot-text {
    margin-left: 4vw;
  }
  nav ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    padding: 10px;
    position: relative;
    overflow-x: hidden;
    transform: color 1s;
    z-index: 2;
  }
  .foot .foot-text p {
    font-size: 15px;
  }
  main .main-text .texting h1 {
    font-size: 35px;
    margin-top: 40px;
  }
  #main .img img {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
    height: 60vh;
  }
}

/* Custom */
@media screen and (width: 1000px) {
  .foot .foot-text p {
    font-size: 12px;
  }
}

/* Custom */
@media screen and (max-width: 915px) {
  nav ul li {
    margin-right: 30px;
  }
  #main .img img {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
    height: 30vh;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  main .image img {
    margin-left: 0;
    margin-top: 10vh;
    height: 50vh;
  }
  footer .foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .foot .foot-text {
    margin-right: 50px;
    height: 60vh;
  }
  .foot .foot-text p {
    font-size: 25px;
  }
  .foot .foot-kasus h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  #main .text p {
    margin-top: -35px;
    margin-left: 45px;
    font-size: 20px;
    text-align: start;
  }
}

/* TABLET - LAPTOP */
@media screen and (max-width: 867px) {
  nav ul li {
    margin-right: 0px;
  }

  main {
    background-image: url(asset/backgroundnew3.svg);
    height: 80vh;
    background-position: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main {
    padding-top: 7vh;
  }

  main .image img {
    margin-left: 0vw;
    margin-top: 0;
    height: 50vw;
  }

  main .main-text {
    color: #fff;
    margin-left: 0px;
    margin-bottom: 0;
    line-height: 0;
    letter-spacing: 2px;
  }

  main .main-text h2 {
    margin-left: 5px;
    font-size: 50px;
  }

  main .main-text p {
    font-size: 50px;
  }

  main .main-text .texting {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .main-text .texting h1 {
    font-size: 50px;
  }

  main .main-text h2:hover {
    transform: scale(1.1);
    margin-left: 25px;
    transition: all 0.3s ease-in;
  }

  main .main-text .active {
    font-size: 65px;
    background: #931111;
  }

  main .main-text .active-1 {
    font-weight: 900;
    font-size: 65px;
    text-transform: uppercase;
  }

  .news {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  marquee {
    background: #a22222;
  }

  .news p {
    font-size: 25px;
    color: #fff;
    margin: 0 15px;
  }

  .news .breaking {
    background: #4b1010;
    border-radius: 12px;
    padding: 5px 25px;
  }

  .news .breakingnews {
    background: #e24848;
    border-radius: 12px;
    padding: 5px 25px;
  }

  .news button {
    border: none;
  }

  .news a {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
  }

  #main {
    padding-top: 100px;
    background-image: url(asset/bg-main.svg);
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
  }

  #main .img img {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 70px;
    height: 50vw;
  }

  #main .text {
    margin-top: 5vh;
    margin-left: 0px;
    background: rgba(230, 80, 82, 0.8);
    border-radius: 25px;
    color: #fff;
    padding-right: 25px;
    text-align: justify;
  }

  #main .text h1 {
    margin-left: 45px;
    font-size: 40px;
  }

  #main .text p {
    margin-left: 45px;
    font-size: 20px;
  }

  footer {
    background: #f37676;
    background-image: url(asset/footer-svg.svg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
  }

  footer .foot {
    display: flex;
    flex-wrap: wrap;
  }

  footer .foot .foot-text {
    width: 75vw;
    font-size: 25px;
    margin-left: 2vw;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    height: 35vh;
    margin-top: 135px;
    padding: 20px;
    margin-left: 10vw;
  }

  .foot .foot-text p {
    font-size: 15px;
  }

  .foot .foot-text span {
    padding: 5px;
    background: #ee6d6f;
  }

  .foot .foot-kasus {
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .foot .foot-kasus .terjangkit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e45959;
    margin-right: 10px;
    margin-top: 60px;
    height: 25vh;
    width: 45vw;
  }

  .foot .foot-kasus .dirawat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e46363;
    margin-top: 5vh;
    height: 25vh;
    margin-left: 10px;
    width: 45vw;
  }

  .foot .foot-kasus .sembuh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f88383;
    margin-top: 5vh;
    height: 25vh;
    width: 50vw;
    margin-bottom: 50px;
  }

  footer button {
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  #solusi {
    background-size: cover;
  }
}

/* LAYAR CUSTOM */
@media screen and (max-width: 768px) {
  nav ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    padding: 10px;
    position: relative;
    overflow-x: hidden;
    transform: color 1s;
    z-index: 2;
  }
  #main1 img {
    margin: 50px;
    width: 35vw;
  }
  #main1 .berita-1 .text,
  .berita-3 .text {
    border-radius: 22px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: #be2020;
  }
  #main1 .berita-2 .text {
    background: #c44f4f;
    border-radius: 22px;
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 20px;
  }
  #solusi {
    background-size: cover;
  }
  #solusi .solusi-line1,
  #solusi .solusi-line2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
  #main1 button {
    background-color: transparent;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 1);
  }
  #main1 button:hover {
    transition: all 1s;
    border: none;
    background: #ff6262;
    border-radius: 5px;
  }
  main {
    background-image: url(asset/backgroundnew3.svg);
    height: 100vh;
    background-position: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
  footer .foot .foot-text h1 {
    font-size: 25px;
  }
  footer .foot .foot-text p {
    font-size: 13px;
  }
  footer .foot .foot-kasus .dirawat {
    margin-top: 6vh;
  }
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    height: 30vh;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    margin-left: 20px;
    height: 40vh;
  }
}

/* Layar HP - TABLET */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  .menu-toggle input {
    position: absolute;
    top: -5px;
    left: -12px;
    width: 30px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
  }
  nav ul {
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: space-evenly;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #c44f4f;
    z-index: 3;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slider {
    opacity: 1;
    transform: translateY(0);
  }
  main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  main .main-text .active {
    font-size: 35px;
    background: #931111;
  }
  main .main-text {
    color: #fff;
    margin-left: 0px;
    margin-bottom: -20vh;
    line-height: 0;
    letter-spacing: 2px;
  }
  main .image img {
    margin-left: 0px;
    margin-top: 100px;
    height: 35vh;
  }
  main .main-text .texting h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  main .main-text h2 {
    margin-left: 5px;
    font-size: 25px;
  }
  main .main-text .active-1 {
    font-weight: 900;
    font-size: 35px;
    text-transform: uppercase;
  }
  main .main-text p {
    font-size: 35px;
    margin-left: 2vw;
  }
  article {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
  }
  article .artic .text h1,
  .artic2 .text h1,
  .artic3 .text h1 {
    text-align: center;
    margin-top: 100px;
  }
  article .artic .text h3,
  .artic2 .text h3,
  .artic3 .text h3 {
    color: #000;
    font-size: 15px;
  }
  article img {
    margin: 20px 10px;
    width: 25vw;
    height: 15vh;
    border-radius: 50%;
  }
  article .artic .text,
  .artic2 .text,
  .artic3 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    margin: 0 20px;
  }
  #main {
    background-image: url(asset/bg-main.svg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
  }
  #main .img img {
    margin-top: 0px;
    margin-bottom: 70px;
    height: 35vh;
    margin-left: 0px;
  }
  #main .text {
    background: rgba(230, 80, 82, 0.8);
    border-radius: 25px;
    color: #fff;
    margin-top: -85px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 25px;
    text-align: justify;
  }
  #solusi {
    background-size: cover;
  }
  #solusi .solusi-line1,
  #solusi .solusi-line2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  #main .text h1 {
    margin-left: 45px;
    font-size: 20px;
    margin-bottom: 40px;
  }
  #main .text p {
    margin-left: 45px;
    font-size: 15px;
  }
  footer .foot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer .foot .foot-text {
    width: 60vw;
    font-size: 15px;
    margin-left: 10vw;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    margin-top: 50px;
    padding: 80px 50px;
  }
  footer .foot .foot-text h1 {
    font-size: 20px;
    margin-top: -20px;
  }
  footer .foot .foot-text p {
    font-size: 11.2px;
  }
  footer .foot .foot-kasus {
    margin-top: 100px;
    width: 100vw;
  }
  .foot .foot-kasus .terjangkit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e45959;
    margin-right: 0;
    margin-top: 60px;
    height: 25vh;
    margin-bottom: 2vh;
    width: 100vw;
  }
  .foot .foot-kasus .dirawat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e46363;
    margin-top: 0;
    height: 25vh;
    margin-left: 0;
    margin-bottom: 2vh;
    width: 100vw;
  }
  .foot .foot-kasus .sembuh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f88383;
    margin-top: 0;
    height: 25vh;
    margin-bottom: 2vh;
    width: 100vw;
  }
  #main1 .berita-1,
  .berita-2,
  .berita-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #main1 .berita-2 {
    flex-wrap: wrap-reverse;
  }

  #main1 .berita-1 .text,
  .berita-3 .text {
    border-radius: 22px;
    margin-right: 0px;
    width: 100vw;
    padding: 10px;
    margin-bottom: 5vh;
    background-color: #be4040;
  }
  #main1 .berita-2 .text {
    background-color: #be4040;
    border-radius: 22px;
    margin-left: 0px;
    width: 100vw;
    padding: 25px;
  }
  #main1 img {
    width: 55vw;
    margin: 50px 0;
  }
  #main1 p,
  h3 {
    text-align: center;
    margin: 30px;
    color: #fff;
  }
  #main1 h3 {
    font-weight: 900;
    font-size: 15px;
  }
  #main1 p {
    font-size: 12px;
  }
  #main1 button {
    background-color: transparent;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 1);
  }
  #main1 button:hover {
    transition: all 1s;
    border: none;
    background: #ff6262;
    border-radius: 5px;
  }
  #main1 .berita-1 {
    padding-top: 20px;
  }
  #main1 .berita-2 h3 {
    text-align: center;
  }
  #main1 .berita-2 p {
    text-align: center;
  }
  footer .foot .foot-kasus .dirawat {
    margin-top: 0vh;
  }
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    height: 45vh;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    margin-left: 20px;
    height: 70vh;
  }
  article .artic3 .text h3 {
    text-align: center;
    color: #000;
    font-size: 17px;
  }
}

/* Custom */
@media screen and (width: 425px) {
  footer .foot .foot-text h1 {
    font-size: 20px;
    margin-top: -40px;
  }
  footer .foot .foot-text p {
    font-size: 10px;
  }
  main .main-text {
    color: #fff;
    margin-left: 0px;
    margin-top: 20vh;
    margin-bottom: -30vh;
    line-height: 0;
    letter-spacing: 2px;
  }
  main .image img {
    margin-left: 0px;
    margin-top: 100px;
    height: 55vh;
  }
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    height: 50vh;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    margin-left: 20px;
    height: 80vh;
  }
  article .artic3 .text h3 {
    text-align: center;
    color: #000;
    font-size: 13px;
  }
}

/* Layar HP */

@media screen and (max-width: 376px) {
  .menu-toggle {
    display: flex;
  }
  .menu-toggle input {
    position: absolute;
    top: -5px;
    left: -12px;
    width: 30px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
  }
  nav ul {
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: space-evenly;
    height: 60vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #dd6262;
    z-index: 3;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul li a {
    padding-left: 30px;
  }

  nav ul.slider {
    opacity: 1;
    transform: translateY(0);
  }
  main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    height: 85vh;
    align-items: center;
  }
  main .image img {
    margin-left: 0px;
    margin-top: 170px;
    height: 35vh;
  }
  main .main-text .active {
    font-size: 35px;
    background: #931111;
  }
  main .main-text {
    color: #fff;
    margin-left: 0px;
    margin-bottom: -30vh;
    line-height: 0;
    letter-spacing: 2px;
  }
  main .main-text .texting h1 {
    font-size: 30px;
    margin-bottom: 35px;
  }
  main .main-text h2 {
    margin-left: 5px;
    font-size: 25px;
  }
  main .main-text .active-1 {
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
  }
  main .main-text p {
    font-size: 35px;
    margin-left: 10vw;
  }
  article {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
  }
  article .artic .text h1,
  .artic2 .text h1,
  .artic3 .text h1 {
    text-align: center;
    margin-top: 10px;
  }
  article .artic .text h3,
  .artic2 .text h3,
  .artic3 .text h3 {
    color: #000;
    font-size: 15px;
  }
  article img {
    margin: 20px 10px;
    width: 25vw;
    height: 15vh;
    border-radius: 50%;
  }
  article .artic .text,
  .artic2 .text,
  .artic3 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    margin: 0 20px;
  }
  #main {
    background-image: url(asset/bg-main.svg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
  }
  #main .img img {
    margin-top: 0px;
    margin-bottom: 70px;
    height: 35vh;
    margin-left: 0px;
  }
  #main .text {
    background: rgba(230, 80, 82, 0.8);
    border-radius: 25px;
    color: #fff;
    margin-top: -85px;
    margin-left: 0px;
    padding-right: 25px;
    text-align: justify;
  }
  #main .text h1 {
    margin-left: 45px;
    font-size: 20px;
    margin-bottom: 40px;
  }
  #main .text p {
    margin-left: 45px;
    font-size: 15px;
  }
  #solusi {
    background-size: cover;
  }
  #solusi .solusi-line1,
  #solusi .solusi-line2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  footer .foot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  footer .foot .foot-text {
    width: 80vw;
    font-size: 15px;
    margin-left: 12vw;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    height: 90vw;
    margin-top: 50px;
    padding: 20px;
  }
  footer .foot .foot-text h1 {
    font-size: 20px;
    margin-top: 20px;
  }
  footer .foot .foot-text p {
    font-size: 11px;
  }
  footer .foot .foot-kasus {
    margin-top: 100px;
    width: 100vw;
  }
  .foot .foot-kasus .terjangkit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e45959;
    margin-right: 0;
    margin-top: 60px;
    height: 25vh;
    margin-bottom: 2vh;
    width: 100vw;
  }
  .foot .foot-kasus .dirawat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e46363;
    margin-top: 0;
    height: 25vh;
    margin-left: 0;
    margin-bottom: 2vh;
    width: 100vw;
  }
  .foot .foot-kasus .sembuh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f88383;
    margin-top: 0;
    height: 25vh;
    margin-bottom: 2vh;
    width: 100vw;
  }
  .foot .foot-kasus p {
    font-size: 30px;
    margin: -10px;
  }
  footer button {
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 28px;
  }
  #main1 .berita-2 h3 {
    text-align: center;
  }
  #main1 .berita-2 p {
    text-align: center;
  }
  #main1 button {
    background-color: transparent;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 1);
  }
  #main1 button:hover {
    transition: all 2s;
    border: none;
    background: #ff6262;
    border-radius: 5px;
  }
  article .artic2 .text {
    background-color: #d9d9d9;
    padding: 0px 20px 30px 20px;
    height: 40vh;
  }
  article .artic2 .text h3 {
    font-size: 10px;
  }
  article .artic3 .text {
    background-color: #d9d9d9;
    margin-left: 20px;
    height: 70vh;
  }
  article .artic3 .text h3 {
    text-align: center;
    color: #000;
    font-size: 13px;
  }
}

/* Custom */
@media screen and (max-width: 375px) {
  footer .foot .foot-text p {
    font-size: 10px;
  }
  main .main-text .active {
    font-size: 25px;
    background: #931111;
  }
  main .main-text p {
    font-size: 25px;
    margin-left: 8vw;
  }
}

/* Custom */
@media screen and (max-width: 320px) {
  footer .foot .foot-text h1 {
    font-size: 15px;
    margin-top: 20px;
  }
  footer .foot .foot-text p {
    font-size: 9px;
  }
  main .main-text {
    color: #fff;
    margin-left: 0px;
    margin-bottom: -40vh;
    line-height: 0;
    letter-spacing: 2px;
  }
}

/* Custom */
@media screen and (max-width: 320px) {
  main .image img {
    margin-left: 0px;
    margin-top: 250px;
    height: 35vh;
  }
}

/* Custom */
@media screen and (max-width: 280px) {
  footer .foot .foot-text {
    height: 50vh;
  }
  main .main-text .texting h1 {
    font-size: 20px;
    margin-bottom: 35px;
  }
}
